#esquerda{
    /*Definindo a largura da pagina */
    width: 10%;
    /*Definindo a altura da pagina */
    height: 500px;
    /*Definindo a cor da pagina*/
    background-color: #A9A9A9;
    border-radius: 10px;
    /*Definindo o lado da pagina*/
    float: left;
}



#direta{
    /*Definindo a largura da pagina */
    width: 90%;
    /*Definindo a altura da pagina */
    height: 500px;
    /*Definindo a cor da pagina*/
    background-color: #b84040;
    border-radius: 10px;
    /*Definindo o lado da pagina*/
    float: right;

}

#rectangle{
    width:200px;
    height:100px;
    background:blue;
    float: right;
    width: 10%;
}


h2{
    margin-top: 0%;   
    text-size-adjust: auto;
    font-size: 40px;
    
  
  

}
h5{
    margin-top: 0%;
    text-align: center;
    text-size-adjust: auto;
    font-size: 15px;
    text-decoration: underline;
    
}

h6{
    margin-top: 0%;
    text-align: center;
    text-size-adjust: auto;
    font-size: 30px;
    text-decoration: underline;
    
}


